.sectionDashboard{
    display: flex;
    flex-direction: column;
    gap: 6rem;

    padding: 2rem 24rem;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardContainer{
    --grid-gap: 3rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--grid-gap);
    
    padding-bottom: 3rem;
}