@import '_colors.css';
@import '_typography.css';
@import '_reset.css';

@import 'notifications.css';
@import 'buttonsAndLinks.css';

:root{
    --general-border-radius: 0.8rem;
    --general-padding-site: 6rem;
}

body{
    overflow: hidden;
    min-height: 100vh;
}

section{
    position: relative;
    
    width: 100%;
    min-height: 100vh;
    padding: var(--general-padding-site);
}

.container{
    width: 100vw;
    padding: 1rem;
    margin-top: 4vh;
}
.page-title{
    margin-left: 10vw;
    margin-top: 8vh;
}


.colorPrimary{
    color: var(--color-primary);
}
.colorSecondary{
    color: var(--color-secondary);
}

.span2{
    grid-column: span 2;
}