.sectionCashflow{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cashFlowGrid{
    display: grid;
    grid-template-columns: repeat(1, minmax(50vw, 1fr) minmax(25vw, 1fr));
    grid-template-rows: 32rem;
    justify-items: center;
    gap: 4vw;

    width: 100%;
}
.cashFlowGrid > *{
    min-width: 100%;
}

.graphCardMain{
    height: 100%;
}
.graphCardMain > :first-child{
    gap: 2rem;
    padding: 1rem 2rem;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.wrapper > * {
    gap: 2rem;
    height: 100%;
}



/* MOBILE */
.mobileCashflowGrid{
    grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr));
    grid-template-rows: unset;
}
.mobileHealthBar{
    min-height: 20vh;
}