# GitHub help: http://help.github.com/ignore-files/

*.pdf

# ------------------------------------------------------------------------------
# Environment Files
# ------------------------------------------------------------------------------
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ------------------------------------------------------------------------------
# Output Directories & Temporary Files
# ------------------------------------------------------------------------------
dist
tmp
out-tsc

# ------------------------------------------------------------------------------
# Dependency Directories
# ------------------------------------------------------------------------------
node_modules

# ------------------------------------------------------------------------------
# IDEs and Editors
# ------------------------------------------------------------------------------
# VSCode (exclude config files from being ignored)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Other IDEs and editor settings
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# ------------------------------------------------------------------------------
# Cache, Logs, and Miscellaneous Files
# ------------------------------------------------------------------------------
.sass-cache/
.connect.lock
.coverage/
.typings/
.DS_Store
Thumbs.db
libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log

# ------------------------------------------------------------------------------
# Nx and Angular Specific
# ------------------------------------------------------------------------------
.nx/cache
.nx/workspace-data
.angular/

# ------------------------------------------------------------------------------
# Testing and Reporting
# ------------------------------------------------------------------------------
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# ------------------------------------------------------------------------------
# Storybook Output
# ------------------------------------------------------------------------------
storybook-static

# ------------------------------------------------------------------------------
# Local Environment Files
# ------------------------------------------------------------------------------
*.local

# ------------------------------------------------------------------------------
# Specific Application Files (Un-ignore Sanity types)
# ------------------------------------------------------------------------------
!/libs/sanity/sanity-data/src/lib/types/sanity.types.ts
